* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-color: #eeebd9;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.profile-top {
  max-width: 800px;
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  margin: 150px auto;
}

.profile-row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profile-img-wrap {
  position: relative;
  width: 120px;
  height: 120px;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.plus-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #1da1f2;
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: 2px solid white;
}

.profile-stats {
  display: flex;
  gap: 40px;
}

.profile-stats div {
  text-align: center;
}

.profile-stats strong {
  display: block;
  font-size: 20px;
}

.profile-stats span {
  color: #777;
  font-size: 14px;
}

h2 {
  margin: 15px 0 4px;
}

.title {
  color: #666;
  margin: 0;
}

.handle {
  display: inline-block;
  margin: 5px 0 12px;
  color: #0a66c2;
}

.desc {
  margin: 8px 0;
}

.location,
.email {
  color: #555;
  margin: 3px 0;
}

.action-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.action-buttons button {
  background: #f1f1f1;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.posts {
  display: flex;
  gap: 15rem;
  color: #555;
  text-align: center;
  margin-top: 20px;
}

.posts .current {
  color: #000;
  text-decoration: underline;
}

.post-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 10px;
}

.image-tab {
  width: 100%;
  aspect-ratio: 1 / 1; /* makes them square */
  overflow: hidden;
  border-radius: 10px;
}

.image-tab img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
